# Configuration file

~CONFIG_VERSION: 0.1.0

world-1256902502 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-2060703100 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=macer
    B:overlayEnabled=true
}


world-685386430 {
    B:cheatItemsEnabled=true
    B:editEnabled=true
    S:filterText=paper
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=true
    S:filterText=nasa
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@leather

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=matter
    B:overlayEnabled=true
}


world909783476 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wrench
    B:overlayEnabled=true
}


