# Configuration file

fishing {
    # 0 means the rods will break and the fishing module won't try to find a replacement in storage (server side only) [range: 0 ~ 64, default: 0]
    I:remainingUsesBeforeRemoval=0

    # The higher, the more frequent the fishing module will fish items (server side only) [range: 1.0E-15 ~ 100.0, default: 1.0]
    S:speedMultiplier=1.0
}


